doctype html
html(lang='en')
    head
        title Title
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.14.0/css/all.css' integrity='sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc' crossorigin='anonymous')
        link(rel='stylesheet' href='../CSS/main.css')
        link(rel='stylesheet' href='../CSS/reset.css')
        // Bootstrap CSS
        link(rel='stylesheet' href='https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css' integrity='sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX' crossorigin='anonymous')
    body
        include PARTS/header 

        block hero
            section.container-fluid.hero
                mixin card-hero(val)
                    .card.shadow-lg.text-center
                        img.card-img-top(src='../IMG/2.jpeg' alt='')
                        .card-body
                            h5.card-title=val
                .row.mt-5
                    .offset-xl-4.col-xl-2.col-lg-4.col-md-4.my-5
                        +card-hero("Hair Styles 1")
                    .col-xl-2.col-lg-4.col-md-4.my-5
                        +card-hero("Hair Styles 2")
                    .col-xl-2.col-lg-4.col-md-4.my-5
                        +card-hero("Hair Styles 3")
        block about
            section.about
                .container.text-center
                    .row
                        .col-12.col-md-6
                            h2.about__title ABOUT US
                            p.about__desc
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quia,
                                | expedita doloremque ea maxime voluptates. Totam, id rerum
                                | architecto facilis possimus consequatur tenetur quos, ex
                                | aspernatur cupiditate, sit itaque fugit.
                            button.about__btn.btn.btn-lg.btn-outline-warning
                                | Know more
                        .col-12.col-md-6.about__img
                            each val in [{class: "about__img",src:'../IMG/3.jpeg'},{class: "about__img2",src:'../IMG/4.jpeg'},{class: "about__img3",src:'../IMG/4.jpeg'},]
                                img(class =val.class src=val.src alt='123')
        block gallery
            section.gallery
                .container.text-center
                    h2 OUR GALLERY
                    p.gallery__desc.line-clamp.line-clamp--3
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
                    | tempora maiores autem vero accusantium, dolore, quod iure ullam
                    | provident repellendus sed ipsum voluptate unde eos quibusdam beatae
                    | exercitationem aliquam. Quibusdam!
                    ul.gallery__list-img.row
                        each val in [{src:"../IMG/5.jpeg", name:"Justin baby"},{src:"../IMG/6.jpeg", name:"Justin baby"},{src:"../IMG/7.jpeg", name:"Justin baby"},{src:"../IMG/5.jpeg", name:"Justin baby"},{src:"../IMG/6.jpeg", name:"Justin baby"},{src:"../IMG/7.jpeg", name:"Justin baby"}]
                            li.col-md-4.gallery__item.position-relative
                                img(src=val.src alt='')
                                .gallery__item-content.d-flex.justify-content-center.align-items-center.flex-column
                                    i.fas.fa-search
                                    p=val.name
        block service
            section.service
                .container.text-center
                    h2.service__title SERVICE
                    p.service__desc.line-clamp.line-clamp--3
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam soluta
                        | dolores pariatur officia eveniet corporis libero et nostrum! Ipsam
                        | laborum fugit quod nobis praesentium perspiciatis dignissimos non
                        | quam. Fugiat, exercitationem.
                    ul.service__card.row.mt-5.justify-content-between.p-5.text-dark
                        each val in [{title: "Style hair", src:"../IMG/Layer 2.png"},{title: "Style hair", src:"../IMG/masay.png"},{title: "Style hair", src:"../IMG/Layer 2.png"}]
                            li.service__item.col-md-3.text-center.rounded-1
                                img.service__item__img(src=val.src alt='')
                                h3.service__item__title=val.title
                                p.service__item__desc.line-clamp--4.line-clamp
                                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    | Deleniti, accusantium. Magni quasi dignissimos quia minima at?
                                    | Commodi exercitationem voluptatem error, saepe hic sit rem beatae
                                    | enim quisquam facilis vitae fugiat.
                                button.btn.btn-dark.btn-raised Know more
        block contact 
            section.contact
                h2.text-danger.mb-5.text-center LOCATION
                .container.row
                    ul.contact__infor.col-md-6.text-left
                        li.contact__infor__item.row
                            i.fas.fa-map-marker-alt  
                            div
                                h3 Location
                                p Hoa Khanh Bac, Lien Chieu
                        li.contact__infor__item.row
                            i.fas.fa-phone
                            div
                                h3 Phone
                                p + 0979475216
                        li.contact__infor__item.row
                            i.fas.fa-map-marker-alt  
                            div
                                h3 Location
                                p Hoa Khanh Bac, Lien Chieu
                        li.contact__infor__item.row
                            i.fas.fa-phone
                            div
                                h3 Phone
                                p + 0979475216
                    .contact__map.col-md-6
                        iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15335.418038200067!2d108.1372151237109!3d16.07303792205568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1599652713741!5m2!1svi!2s' width='100%' height='450' frameborder='0' style='border: 0' allowfullscreen='' aria-hidden='false' tabindex='0')
                h2.text-danger.mt-5.text-center CONTACT
                .container.mt-5.p-5
                    form.row
                        .form-group.col-md-6.pl-0
                            label(for='exampleInputEmail1') Email address
                            input#exampleInputEmail1.form-control.form-control-lg(type='email' aria-describedby='emailHelp' placeholder='Enter email')
                            small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
                        .form-group.col-md-6.pl-0
                            label(for='exampleInputPassword1') Your name
                            input#exampleInputPassword1.form-control.form-control-lg(type='text' placeholder='Your name')
                        .form-group.col-md-12.pl-0
                            label(for='exampleFormControlTextarea1') Example textarea
                            textarea#exampleFormControlTextarea1.form-control.form-control-lg(rows='3')
                        button.btn.btn-primary.col-md-6.mx-auto.my-3.active.rounded(type='submit')
                          | Submit
        include PARTS/footer
        
        block scripts
            script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
            script(src='https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js' integrity='sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U' crossorigin='anonymous')
            script(src='https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js' integrity='sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9' crossorigin='anonymous')
            script.
                $(document).ready(function () {
                $("body").bootstrapMaterialDesign();
                });
       
